.bg{
    border-left: 2px solid #da34fe;
    height: 50%;
    width: 15px ;
    margin-right: 10px;
    margin-left: 10px ;
}

.footer1Flex h3{
color: #da34fe;
}.footer1Flex li{
    list-style-type: none;
}

.footWrp{
    margin-top: 5%;
}
.check{
    display: grid;
    grid-template-columns: 1fr 1fr ;
gap: 21%;
}

.footer1Flex{
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr  ;
    gap: 20px;
    
    
}


@media (max-width:756px) {
    .footer1Flex{
        grid-template-columns: 1fr 1fr ;
        /* gap: 10%; */
        /* padding-bottom: 15%  ;
        padding-top: 15%; */
    }
    
}
@media (max-width:544px){
    .footer1Flex{
        grid-template-columns: 1fr ;
    /* margin-bottom: 90px ; */
    gap: 30px ;
    }
   
}


